/****Base style***/
h1{
text-align:center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#main{
  width: 100%;
  height: 100%;
}
#l1{
  background-color: pink;
}
#l2{
  background-color: red;
  color: white;
}
#l3{
  background-color: yellow;
}
.label{
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
.content{
  position: relative;
  margin: 5px;
  padding: 30px;
  float: left;
  background-color: gray;
  border: solid 1px;
}
/********PC**********/
@media (min-width:992px){
  .content{
    width: 31%;
  }
}
/********Tablet**********/
@media (min-width:768px) and (max-width:991px)
{
  #d1{
    width: 47%;
  }
  #d2{
    width: 47%;
  }
  #d3{
    width: 96%;
    clear: both;
  }
}
/********Mobile**********/
@media (max-width:767px)
{
  .content{
    clear: both;
  }
  #d1{
  }
  #d2{
  }
  #d3{
  }
}
