body{
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1{
    font-family: 'Lore', serif;
    color: purple;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list a{
    color:#951c49;
    text-align: center;
}
#nav-list a:hover{
    background: #e7e7e7;
}
#nav-list a span{
    font-size: 1.8em;
}
#nav-list li{
    padding: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .iconbar{
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{    /* after clear, button own a new line*/
    clear: both;                        /* reduce margin-top can make them in one line.*/
    margin-top: -40px;
}

body h1{
    color: black;
}

#main-content{
    border: 1px solid black;
    background-color: gray;
}

@media (max-width: 767px) {
    #main-content{
        margin: 30px;
    }
}